/* reset.css */

/* Remove margens, paddings e bordas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

/* Remove estilos de listas */
li, ul, ol {
  list-style: none;
}

/* Remove estilos de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Define elementos base */
html, body {
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  background-color: #1E1E1E;
  
  
}

/* Reseta imagens */
img {
  max-width: 100%;
  display: block;
}

/* Reseta botões e inputs */
button, input, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}
